$color_1: #FAFAFA;
$color_2: #E7EAEC;
$color_3: #CCEAE7;
$color_4: #CCD7DA;
$color_5: #8796B0;
$color_6: #80CBC4;
$color_7: #FFFFFF;
$color_8: #FF5370;
$color_9: #F76D47;
$color_10: #FFB62C;
$color_11: #91B859;
$color_12: #39ADB5;
$color_13: #6182B8;
$color_14: #7C4DFF;
$color_15: #E53935;

$bg: $color_1;
$fg: $color_5;