@import "colors";

a:link  {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:visited   {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
    
a:hover {
    text-decoration: underline;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active  {
    text-decoration: underline;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#archlinux-content a {
    color: $color_13;
}